@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Démo Ajax</h1>
    <p class="lead">Projet de démo pour faire des appels Ajax selon différentes techniques.</p>
</div>

<div class="row">
    <div>
        <h2>Infos</h2>
        <p>
            Choisissez un des menus pour sélectionner une technique.
        </p>
        <p>L'article associé est publié ici:</p>
        <a href=""></a>
    </div>
</div>