@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Projet de démo de différentes techniques Ajax (voir menus ci-dessus):</h1>
    <a target="_top" href="https://amethyste16.wordpress.com/2017/01/16/faire-des-appels-ajax/" class="lead">Appels Ajax selon différentes techniques</a>
    <br/>
    <a target="_self" href="https://amethyste16.wordpress.com/2017/08/11/formulaire-ajax-avec-post-et-validation/" class="lead">Formulaire popin Ajax avec POST et validation</a>
</div>

